<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post">
      <h2>Add Product</h2>
      Add id : <input type="number" name="pid" /><br /><br />
      Add name : <input type="text" name="pname" /><br /><br />
      Add price : <input type="number" name="pprice" /><br /><br />
      <button type="submit">ADD</button>
    </form>
    <a href="/">Back</a>
  </body>
</html>
